<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bt.smart.truck_broker">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.userAct.AboutUsActivity"></activity>
        <activity
            android:name=".activity.userAct.CommentActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activity.XieyiActivity" />
        <activity android:name=".activity.userAct.BCardActivity" />
        <activity android:name=".activity.userAct.WithdrawActivity" />
        <activity android:name=".activity.userAct.RechargeActivity" />
        <activity android:name=".activity.userAct.BankCardActivity" />
        <activity android:name=".activity.userAct.MDetailActivity" />
        <activity android:name=".activity.userAct.MoneyActivity" />
        <activity android:name=".activity.userAct.SignPlatformActivity" />
        <activity android:name=".activity.FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".MainActivity" /> <!-- 人脸认证 -->
        <activity
            android:name=".activity.homeAct.AuthenticationWebAct"
            android:launchMode="standard"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="host1"
                    android:path="/path1"
                    android:port="8080"
                    android:scheme="scheme1" />
                <data
                    android:host="app"
                    android:path="/callback"
                    android:scheme="tsign" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.userAct.AuthenticationActivity" />
        <activity android:name=".activity.userAct.GetFacePhotoActivity" />
        <activity android:name=".activity.userAct.GetDriveCardPhotoActivity" />
        <activity android:name=".activity.homeAct.SelectPlaceAndCarActivity" />
        <activity android:name=".activity.samedayAct.ShowMapActivity" />
        <activity android:name=".activity.samedayAct.OrderDetailActivity" />
        <activity android:name=".activity.homeAct.FindByLinesActivity" />
        <activity android:name=".activity.userAct.GetDrivingCardPhotoActivity" />
        <activity android:name=".activity.userAct.AcceptOrderListActivity" />
        <activity android:name=".activity.userAct.AllOrderListActivity" />
        <activity android:name=".activity.OpenLockActivity" />
        <activity android:name=".activity.SaomiaoUIActivity" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx797b4ac4b3e272a7" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" /> <!-- 个推服务 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d3eb4fb17bb70acb7cce8d360dc0ea5d" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.bt.smart.truck_broker.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider> <!-- 微信支付activity -->
        <service android:name=".servicefile.SendLocationService" />

        <service
            android:name=".servicefile.GeTuiPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice" /> <!-- 高德地图 -->
        <service
            android:name=".servicefile.GeTuiIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 浮动通知权限 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- //地图包、搜索包需要的基础权限 -->
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>